html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #432000;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto
}

h1 {
    text-align: center;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #84c5f4;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #6498bd;
    cursor: pointer;
}

#qr_code {
    margin-top: 20px;
}
